<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>${title}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/font-awesome/all.min.css" />
    <link rel="stylesheet" href="./css/main.css" />



</head>
<body class="bg-light">

    <nav class="navbar navbar-expand-xl navbar-light fixed-top">
        <a class="navbar-brand" href="#"><img src="./images/AdHound-Logo.gif" class="img-responsive" style="max-height: 30px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="row collapse navbar-collapse mt-2" id="navbarsExampleDefault">
            <div class="col-sm-4">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <form class="row my-2 my-md-0">
                   
                    <input class="col-9 form-control" type="text" placeholder="Search" aria-label="Search">
                        

                    <button class="col-3 form-control btn btn-secondary" type="submit">Search</button>
                </form>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </nav>


    <main class="container p-2">



    </main>

    <footer class="container-fluid fixed-bottom">

        <div class="row d-flex justify-content-around align-items-center">

            <div class="col-xs flex-fill justify-content-stretch m-1 btn btn-footer">
                <a href="" class="stretched-link">
                    <span class="fas fa-chart-bar" style="font-size: 350%;"></span>
                    <br />Reports
                </a>
            </div>
            <div class="col-xs flex-fill justify-content-stretch m-1 btn btn-footer">
                <a href="" class="stretched-link">
                    <span class="fas fa-map-marked-alt" style="font-size: 350%;"></span>
                    <br />Locations
                </a>
            </div>
            <div class="col-xs flex-fill justify-content-stretch m-1 btn btn-footer">
                <a href="" class="stretched-link">
                    <span class="fas fa-th-large" style="font-size: 350%;"></span>
                    <br />Panels
                </a>
            </div>
            <div class="col-xs flex-fill justify-content-stretch m-1 btn btn-footer">
                <a href="" class="stretched-link">
                    <span class="fas fa-address-card" style="font-size: 350%;"></span>
                    <br />Advertisers
                </a>
            </div>
            <div class="col-xs flex-fill justify-content-stretch m-1 btn btn-footer">
                <a href="" class="stretched-link">
                    <span class="fas fa-file-image" style="font-size: 350%;"></span>
                    <br />Advertisements
                </a>
            </div>

        </div>

    </footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>
</html>